<div class="post-copyright main-content-wrap content-with-table">
    <p class="copyright-item">
        <span><%= __('post.author') %></span>
        <a href="http://<%= config.url %>"><%= config.author %></a>
    </p>
    <p class="copyright-item">
        <span><%= __('post.permalink') %></span>
        <a href="<%= page.permalink %>"><%= page.permalink %></a>
    </p>
    <p class="copyright-item">
        <span><%= __('post.copyright') %></span>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><%=__('post.copyright_content')%></a>
    </p>
</div>
