<div class="<%= (classes ? classes.join(' ') : '') %>">
    <time itemprop="datePublished" datetime="<%= post.date.format() %>">
        <img class="calendar" src="/assets/images/calendar.png" />
        <% if (post.lang) { %>
		    <%= post.date.locale(post.lang).format(__('date_format')) %>
    	<% } else { %>
		    <%= post.date.locale(page.lang).format(__('date_format')) %>
    	<% } %>
    </time>
    <% if ((post.categories) && (post.categories.length > 0)) { %>
        <span><%= __('post.categorized_in')  %> </span>
        <%- partial('category', {categories: post.categories})%>
    <% } %>
    <% if ((post.tags) && (post.tags.length > 0)) { %>
        <img class="tag" src="/assets/images/tag-icon.svg" />
        <% post.tags.forEach(function(tag, index){ %>
            <a href="/tags/<%-tag.name%>/"><%-tag.name%></a>
            <%if (index !== post.tags.length - 1) {%>
             <span> </span>
            <%}%>
        <% }) %>
    <% } %>
</div>
