<%
    // Replace `<!-- endcontent -->` by `</div>` and `<!-- content -->` by `</div class="main-content-wrap">`
    // it's an hack to insert html tag without
    // having auto delete or auto closed by the markdown render engine
    // Currently used to insert an image in full width, out of `main-content-wrap` div
    // which center the content and have a limited width (750px)
    var postContent = post.content.replace(/<!-- ?endcontent ?-->/g, '</div>')
                               .replace(/<!-- ?content ?-->/g, '<div class="main-content-wrap">');
%>
<article class="post" itemscope itemType="http://schema.org/BlogPosting">
    <% if (post.coverCaption) { %>
        <span class="post-header-cover-caption caption"><%= post.coverCaption %></span>
    <% } %>
    <% if (!post.coverImage || post.coverMeta === 'out') { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="tableTile"
         data-message="<%= __('post.toc') %>">
    </div>
    <div class="post-content markdown" itemprop="articleBody">
        <div class="main-content-wrap fadeInDown toc <%= post.toc? 'content-with-table' : ''%>">
            <%- post.content%>
            <%- partial('post/gallery') %>
        </div>
        <% if (post.toc) { %>
            <div class="tableContent fade-in"
                 data-message="<%= post.toc %>"></div>
        <% } %>
        <% if (is_post()) { %>
            <%- partial('post/copyright')%>
        <% } %>
    </div>
    <% if (is_post()) { %>
        <div id="post-footer" class="post-footer main-content-wrap <%= post.toc? 'content-with-table' : ''%>">
            <% if ((post.tags) && (post.tags.length > 0)) { %>
                <div class="post-footer-tags">
                    <span class="text-color-light text-small"><%= __('post.tagged_in') %></span><br/>
                    <%- partial('post/tag', {tags: post.tags})%>
                </div>
            <% } %>
            <% if (post.actions === undefined || post.actions) { %>
                <%- partial('post/actions', {postContent: postContent}) %>
            <% } %>
            <% if (post.comments) { %>
                <% if (theme.disqus_shortname) { %>
                    <%- partial('post/disqus') %>
                <% } else if (theme.gitment.enable) { %>
                    <%- partial('post/gitment') %>
                <% } %>
            <% } %>
        </div>
    <% } %>
</article>

