<div data-behavior="<%= sidebarBehavior %>" class="search-tools-col hide">
    <div class="tools-wrap">
        <section class="tools-section tools-section-all">
            <div class="search-wrap">
                <input class="search-ipt" type="text" placeholder="find something…">
                <i class="icon-search icon"></i>
                <i class="icon-close icon "></i>
            </div>
            <div class="widget tagcloud search-tag">
                <ul class="article-tag-list">
                    <% site.tags.forEach(function(tag, i){ %>
                    <li class="article-tag-list-item">
                        <a class="js-tag color<%= tag.name.length % 5 + 1 %>"><%- tag.name %></a>
                    </li>
                    <% }) %>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <p class="results-count hide"
               data-message-zero="<%= __('global.posts_found.zero') %>"
               data-message-one="<%= __('global.posts_found.one') %>"
               data-message-other="<%= __('global.posts_found.other') %>">
                <%= (_p('global.posts_found', site.posts.length)).replace(/\{n\}/, site.posts.length) %>
            </p>
            <div class="search-result">
                <% site.posts.sort('date').limit(Math.round(config.per_page * 1.5)).forEach(function(post) { %>
                <%- partial('_partial/search-result-list', {post: post}) %>
                <% }) %>
            </div>
        </section>
    </div>
</div>
